@page "/"
@inject PidService _pid
@inject IPwmService _pwm

<PageTitle>Pwm UI</PageTitle>

<a href="/api" target="_blank">API Explorer</a>
<PidControl PidService="_pid"/>
<PwmControl PwmService="_pwm"/>