@page "/"
@using EventPi.Pid
@using EventPi.Pwm.Ui.Wasm.Client



<PageTitle>Pwm UI</PageTitle>

<a href="/api" target="_blank">API Explorer</a>
<PidControl @rendermode="InteractiveServer"  />

<PwmControl @rendermode="InteractiveServer" />

<SignalSimulator SignalName="x" @rendermode="InteractiveServer" />
<SignalCanvas @rendermode="InteractiveWebAssembly" />
